@import "../reset";

#navegation{
    grid-area: ls;


    display: flex;
    flex-direction: column;

    background-color: rgb(227, 247, 250);
}

#user{
    width: 100%;
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(0, 238, 255);

    img{
        width: auto;
        height: 100px;
    }

    span{
        line-height: 100px;
        font-size: 4rem;
        font-weight: 700;
    }

}

#names{
    height: 500px;

    ul{
        height: 100%;
        width: 100%;

        li{
            font-size: 1.3rem;
            line-height: 50px;
            cursor: pointer;
            padding-left: 25%;
        }

        li:hover{
            background-color: lightsteelblue;
        }

        li:active{
            color: red
        }
    }
}

#buttons{
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: rgb(0, 238, 255);


    .btn{    
        width: 40px;
        height: 40px;

        clip-path: polygon(0% 0%, 100% 0%, 0% 100%);

        background-color: rgba(0, 0, 0, 0.856);

        cursor: pointer;
    }

    .btn:active{
        background-color: lightcoral;
    }
}

#buttons div:nth-child(1){
    transform: rotate(-45deg);
}

#buttons div:nth-child(2){
    transform: rotate(135deg);
}

@media (max-width: 1100px){
    #user{
        height: 150px;

        img{
            width: auto;
            height: 45px;
        }
    
        span{
            font-size: 2rem;
            font-weight: 700;
        }
    
    }

    #names{
        height: 500px;
    
        ul{
            height: 100%;
            width: 100%;
    
            li{
                font-size: 1.3rem;
                cursor: pointer;
                padding-left: 25%;
            }
        }
    }

    #buttons{    
        .btn{    
            width: 25px;
            height: 25px;

        }
    }
}