@import "reset";

/*
    ls: lista;
    dt: screen
*/

#pokedex{
    background-color: rgb(0, 238, 255);

    width: 80%;
    height: 800px;

    margin: 0 auto;

    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 100%;
    grid-template-areas: "ls sc";
} 

@media (max-width: 1100px){
    #pokedex{
        height: 1400px;

        grid-template-columns: 100%;
        grid-template-rows: 40% 60%;
        grid-template-areas: 
                            "ls"
                            "sc";
    }
}